SilverLightWithWcfTest/Service References/StockServiceRef/StockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StockServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStockPriceContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockPriceContract" nillable="true" type="tns:StockPriceContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockPriceContract" nillable="true" type="tns:ArrayOfStockPriceContract" />
  <xs:complexType name="StockPriceContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosePrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastTradedPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradedVolume" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockPriceContract" nillable="true" type="tns:StockPriceContract" />
</xs:schema>