SilverLightWithWcfTest/Service References/StockServiceRef/StockService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2577/StockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockServiceLibrary" />
  <xs:element name="GetStockPrices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockServiceLibrary" minOccurs="0" name="GetStockPricesResult" nillable="true" type="q1:ArrayOfStockPriceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>